{% style %}
    .custom-signals{
    background:{{section.settings.background_color}};
    color:{{section.settings.text_color}};
    position: relative;
    }
    .custom-signals:before{
    content: '';
    background-image:url('{{section.settings.background_right_image | image_url}}');
    left: 0;
    top:0;
    position: absolute;
    width: 580px;
    height: 251px;
    background-repeat: no-repeat;
    }
    .signals_main_sec:after{
    content: '';
    background-image:url('{{section.settings.background_left_image | image_url}}');
    width: 580px;
    height: 251px;
    background-repeat: no-repeat;
    right: 0;
    bottom: 78px;
    position: absolute;
    }
    .signals_main_sec h2 {
    margin: 0;
    padding: 0;
    font-weight:300;
    text-align: center;
    font-size: 48px;
    line-height: 82px;
    color:{{section.settings.text_color}};
    }
    .signals_main_sec p{
    color:{{section.settings.text_color}};
    font-size:24px;
    line-height:36px;
    font-weight:400;
    text-align: center;
    margin: 0;
    padding: 0;
    }
    .signals_sub_inner_image img {
    display: block;
    }
    .signals_fetaure {
    display: flex;
    flex-wrap: wrap;
    column-gap: 45px;
    row-gap: 35px;
    padding-top: 56px;
    z-index: 9;
    position: relative;
    }
  .signals_main_sec .sub_container{
    padding:0;
  }


    .signals_sub_inner {
    border-radius: 10px;
    padding: 30px 25px;
    background: {{section.settings.block_color}};
    display: flex;
    max-width: 420px;
    width: 100%;
    gap: 20px;
    }
    .signals_sub_inner_image {
    max-width: 100px;
    width: 100%;
    }
    .feature_point p {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
    letter-spacing: 0;
    }
    .custom-signals .sub_container{
    padding-top:{{section.settings.padding_top}}px;
    padding-bottom:{{section.settings.padding_bottom}}px;
    }

    @media(max-width:991px){
    .custom-signals:before,.signals_main_sec:after{
    content: unset;
    }
    .signals_sub_inner_image{
    max-width: 80px;
    }
    .sub_container{
    padding:0 17px;
    }
    .signals_main_sec h2 {
    font-size:36px;
    line-height:46px;
    }
  .signals_sub_inner_image img {
      display: block;
      width: auto;
      height: auto;
      max-width: 100%;
  }
    .feature_point p {
    font-size: 16px;
    line-height: 26px;
    }
    .signals_main_sec p{
    font-size: 18px;
    line-height: 27px;
    }
    .signals_fetaure {
    column-gap: 15px;
    row-gap: 15px;
    padding-top: 20px;
    justify-content: center;
    }
    }
  @media(max-width:767px){
    .signals_sub_inner {
      flex-wrap:wrap;
      gap: 15px;
      justify-content: center;
    }
  }
{% endstyle %}

<div class="signals_main_sec">
  <div class="sub_container">
    <h2>{{ section.settings.heading }}</h2>
    {{ section.settings.descrption }}
    <div class="signals_fetaure">
      {% for block in section.blocks %}
        <div class="signals_sub_inner">
          <div class="signals_sub_inner_image">
            <img src="{{ block.settings.signals_image | image_url }}" width="100" height="100" alt="feature">
          </div>
          <div class="feature_point">
            {{ block.settings.signals_description }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
"name": "signals",
"tag": "section",
"class": "custom-signals",
"settings": [
{
"type": "text",
"label": "heading",
"id": "heading",
"default": "Firebee Signals"
},
{
"type": "richtext",
"label": "Descrption",
"id": "descrption",
"default": "<p>A signal for every situation</p>"
},
{
"type": "image_picker",
"label": "Background left image",
"id": "background_left_image"
},
{
"type": "range",
"label": "padding top",
"id": "padding_top",
"min": 0,
"default": 1,
"max": 100,
"step": 1,
"unit": "px"
},
{
"type": "range",
"label": "padding bottom",
"id": "padding_bottom",
"min": 0,
"max": 100,
"step": 1,
"default": 1,
"unit": "px"
},
{
"type": "color_background",
"label": "background color",
"id": "background_color"
},
{
"type": "color",
"label": "Text Color",
"id": "text_color"
},
{
"type": "image_picker",
"label": "Background Right Image",
"id": "background_right_image"
},
{
"type": "color_background",
"label": "Block Color",
"id": "block_color"
}
],
"blocks": [
{
"type": "text",
"name": "text",
"settings": [
{
"type": "image_picker",
"label": "Signals Image",
"id": "signals_image"
},
{
"type": "richtext",
"label": "Signals Description",
"id": "signals_description"
}
]
}
],
"presets": [
{
"name": "signals"
}
]
}
{% endschema %}
